$natwest-theme: #5a287d;

.form-group {
    // border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    width: 250px;
    height: 30px;
    font-family: inherit;
    font-weight: inherit;
    font-size: 1.4rem;
}

.form-break {
    margin-bottom: 10px;
}

.btn-eligibility {
    font-family: inherit;
    padding: 12px;
    color: #fff;
    background: $natwest-theme;
    border: none;
    border-radius: 5px;
}
.btn-eligibility:hover {
    cursor: pointer;
    outline: 1px solid $natwest-theme;
    // scale: 1.03;
}