.app-card-container {
    box-shadow: 2px 2px 6px #afafaf;
    background: #e1ffed;
    transition: all 0.1s ease-in;
    
    .app-card-title {
        font-size: 1.8rem;
    }

    .status-indicator {
        width: fit-content;
        padding: 0 12px;
        margin-top: 4px;
        height: 24px;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        font-weight: 400;
        color: #fff;

        span {
            margin-top: 3px;
        }
    }

    .app-card-body {
        margin-top: 15px;
        font-size: 1.4rem;
        max-height: 100px;

        p {
            overflow: hidden;
            display: -webkit-box;
            -webkit-line-clamp: 5;
            -webkit-box-orient: vertical;
        }
    }

    &:hover {
        cursor: pointer;   
        box-shadow: 4px 4px 6px #afafaf;;    
        scale: 1.01; 
    }

    &:active {
        scale: 1;
        box-shadow: 2px 2px 6px #afafaf;
    }
}
