.history-cards {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    margin-top: 30px;
}

.info-lbl {
    font-weight: 500;
}

.data-grid {
    display: flex;
    gap: 120px;
    padding: 0 20px;

    .info-box {
        display: flex;
        justify-content: space-between;
        gap: 120px;
        margin-bottom: 6px;

        .info-data {
            margin-left: auto !important;
        }

        .status-indicator {
            width: fit-content;
            padding: 0 12px;
            height: 24px;
            border-radius: 15px;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 1rem;
            font-weight: 400;
            color: #fff;

            span {
                margin-top: 3px;
                font-weight: 600;
            }
        }
    }
}

.application-history-page-title {
    margin-top: 120px;
}

.info-box-remarks {
    display: flex;
    gap: 60px;
    padding: 0 20px;
}